# GIT will untrack : .bin , .obj , .vs , .suo , .v11.suo 
# Build results
[Bb]in/
[Oo]bj/


# VS files
.vs/
*.user
*.suo
*.cache
*.pdb
*.vsp
*.sdf
#*.dbmdl

# Rider/JetBrains
.idea/

#Data Base and Test Cases
*.wav
*.mdf
*.ldf

